////////////////////////////FONT////////////////////////////
$default-font-size: 1.6rem;


//////////////////////////// COLOR ////////////////////////
$pink:#fa0368;
$white:#fff;
$gradient:rgba(0, 0, 0, 0) linear-gradient(160deg, #ff0066 0%, #d41872 50%, #a445b2 100%) repeat scroll 0% 0%;
$black-100:#0a0a0a;
$black-50:#454545;
$purple:#612EA7;
$blue-grandient:linear-gradient(60deg, #05106d 0%, #3749db 100%);
$blue:#0000CB;