.tittle {
  padding: 1.5rem 0;
  text-align: center;
  margin: auto;
  position: relative;

  p {
    color: $pink;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0.9rem 0;
  }

  h5 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.3;
  }

  &::before {
    content: "";
    background-color: $pink;
    width: 5rem;
    height: 0.2rem;
    position: absolute;
    left: 43%;
    bottom: 0;
    border-radius: 50px;
  }
  &::after {
    content: "";
    background-color: $white;
    width: 0.8rem;
    height: 0.2rem;
    position: absolute;
    left: 44%;
    bottom: 0;
    transition: 500ms all;
  }

  &:hover {
    &::after {
      left: 53%;
      transition: 500ms all;
    }
  }
}
